<li>
  <div class='avatar'>
    <span class='content'><%= action.user.id %></span>
  </div>

  <%= action.user.name %>
  <%= action.name %> a <%= action.target %> on

  <%= link_to action.parent_object.title, polymorphic_path(action.parent_object) %>

  <div class='content'>
    <%= action.body %>
  </div>
</li>
