<li>
  <h3><%= ordered[:project_title] %></h3>
  <ul>
    <% ordered[:actions].each do |action| %>
    <li>
      <div class='avatar'>
        <span class='content'><%= action.user.initials %></span>
      </div>

      <%= action.user.name %> left a
      <%= action.target_model %> on <%= link_to action.project.title, project_path(action.project) %>

      <div class='content'>
        <span class='created-at'>on <%= action.created_at.strftime('%m/%d/%Y, %l:%M%p') %></span>
      </div>
    </li>
    <% end %>
  </ul>
</li>
