<h1>Progress</h1>


<ul class='progress'>
  <% @projects.each do |project| %>
    <li>
      <h3><%= project.title %></h3>
      <ul>
        <% project.actions.each do |action| %>
          <li>

            <div class='avatar'>
              <span class='content'><%= action.user.id %></span>
            </div>

            <%= action.user.name %> <%= action.name %> a <%= action.target %> on <a href='#'><%= action.target_title %></a>
            <div class='content'>Lorem Ipsum</div>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
