<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<p>
  <h3>Tell your friends!</h3>
  <%= form_for([@deal, Referral.new]) do |f| %>
    <%= f.text_field :referee_email %>
    </br>
    <%= f.submit :send %>
  <% end %>
</p>

